uvicorn~=0.17.6
fastapi~=0.75.1
pydantic~=1.9.0
SQLAlchemy~=1.4.35
pip~=21.3.1
wheel~=0.37.1
Mako~=1.2.0
MarkupSafe~=2.1.1
alembic~=1.7.7
greenlet~=1.1.2
setuptools~=60.2.0
passlib~=1.7.4
email_validator~=1.2.0
bcrypt~=3.2.2
python-jose~=3.3.0
jose~=1.0.0
starlette~=0.17.1
emails~=0.6