.btnAddEmployee {
    width: 100%;
}

.addEmployeeHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.labelForEmployment {
    margin: 2%;
}

.containerForChooseEmployment {
    display: flex;
    justify-content: center;
    gap: 20%;
    flex-wrap: wrap;
}

.labelForEmployment {
    width: 100%;
}

.selectEmployment, .selectPosition {
    margin-bottom: 2%;
}


