.containerForManageSchedule {
    margin-top: 1%;
    display: flex;

}
.employeeSchedule{
    width: 50vw;
}

/*.employeeScheduleGenerator {*/

h1{
    display: flex;
    justify-content: center;
}
.employeeScheduleGenAndPick{
    display: flex;
    width: 50vw;
    flex-direction: column;
    margin-left: 1%;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}