.containerForBasicManageSchedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.schedulePickerHeader{
    width: 100%;
    display: flex;
    justify-content: center;
}